In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../Processed_data_new/Datasets/weather_short.csv")

In [7]:
df[df.isna()]

      precipitation  wind_speed condition  cloud_cover  window_id
0               NaN         NaN       NaN          NaN        NaN
1               NaN         NaN       NaN          NaN        NaN
2               NaN         NaN       NaN          NaN        NaN
3               NaN         NaN       NaN          NaN        NaN
4               NaN         NaN       NaN          NaN        NaN
...             ...         ...       ...          ...        ...
1215            NaN         NaN       NaN          NaN        NaN
1216            NaN         NaN       NaN          NaN        NaN
1217            NaN         NaN       NaN          NaN        NaN
1218            NaN         NaN       NaN          NaN        NaN
1219            NaN         NaN       NaN          NaN        NaN

[1220 rows x 5 columns]